<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Test App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
                    </li>

                </ul>
                <a href="/admin"><button class="btn btn-light my-2 my-sm-0" type="submit">admin</button></a>
                <a href="/logout"><button class="btn btn-danger my-2 my-sm-0" type="submit">LogOut</button></a>
            </div>
        </nav>
        <div class="jumbotron"
            style="
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(30,87,153,0.54) 46%, rgba(125,185,232,0.18) 82%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
 
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(30,87,153,0.54) 46%,rgba(125,185,232,0.18) 82%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
 
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(30,87,153,0.54) 46%,rgba(125,185,232,0.18) 82%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */">
            <h1 class="" style="color: white">Architectural edifice</h1>
            <h4 class="" style="color: white">Welcome {{ live_user.first_name }} {{ live_user.last_name}}</h4>
            <div class="row">
                <div class="col-8">

                    <div class="row">
                        <div class="col">
                            <a class="btn btn-primary btn-lg" href="/main/new">Add Customer</a>
                        </div>
                        <div class="col">
                            <a class="btn btn-primary btn-lg" href="/main/neworder">Add Order</a>
                        </div>
                        {% if live_user.user_level == 9 %}
                        <div class="col">
                            <a class="btn btn-primary btn-lg" href="/main/History">History</a>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="col-md-4">
                        <div class="registration">
                            <h1> Edit New User</h1>

                            <form action="/admin/{{edit.id}}/processedit" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="form" value="register">


                                <section class='reg-info'>
                                    <label for='l_name'>First Name:</label>
                                    <input type="text" name="first_name" class="form-control" id=""
                                        value="{{edit.first_name}}">
                                    {% if messages %}
                                    {% for message in messages %}
                                    {% if message.extra_tags == 'first_name' %}
                                    <p class='error' style="color: red">* {{message}}</p>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </section>

                                <section class='reg-info'>
                                    <label for='l_name'>Last Name:</label>
                                    <input type="text" name="last_name" class="form-control" id=""
                                        value="{{edit.last_name}}">
                                    {% if messages %}
                                    {% for message in messages %}
                                    {% if message.extra_tags == 'last_name' %}
                                    <p class='error' style="color: red">* {{message}}</p>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </section>


                                <section class='reg-info'>
                                    <label for='l_name'>Email:</label>
                                    <label value="">{{edit.email}}</label>

                                </section>


                                <section class='reg-info'>
                                    <label for='l_name'>Password</label>
                                    <input type="password" name="password" class="form-control"
                                        value="{{edit.password}}">
                                    {% if messages %}
                                    {% for message in messages %}
                                    {% if message.extra_tags == 'password' %}
                                    <p class='error' style="color: red">* {{message}}</p>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </section>

                                <section class='reg-info'>
                                    <label for='l_name'>Confirm Password: </label>
                                    <input type="password" name="confirm" id="" class="form-control"
                                        value="{{edit.password}}">

                                    {% if messages %}
                                    {% for message in messages %}
                                    {% if message.extra_tags == 'confirm' %}
                                    <p class='error' style="color: red">* {{message}}</p>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </section>

                                <section class='reg-info'>
                                    <label for='l_name'>User Level: </label>
                                    <select name="user_level" id="">
                                        <option value="" default></option>
                                        <option value="1">Normal</option>
                                        <option value="9">
                                            Admin</option>
                                    </select>
                                    {% if messages %}
                                    {% for message in messages %}
                                    {% if message.extra_tags == 'user_level' %}
                                    <p class='error' style="color: red">* {{message}}</p>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </section>
                                <input type="submit" name="" value="Edit" id="" class="btn btn-primary">
                                <a href="/admin" class="btn btn-primary">Cancel</a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md">

            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
</body>

</html>