<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="container">


        <div class="row justify-content-center">
            <h1>Welcome to Architectural edifice company!</h1>

        </div>
        <div class="row">
            <div class="col-md">
                <div class="col-md-8">
                    <div class="registration">
                        {% if number == 0 %}
                        <h1> Registration</h1>
                        <h1>{{number}}</h1>
                        <form action="registration" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="form" value="register">
                            <section class='reg-info'>
                                <label for='l_name'>First Name:</label>
                                <input type="text" name="first_name" class="form-control" id="">
                                {% if messages %}
                                {% for message in messages %}
                                {% if message.extra_tags == 'first_name' %}
                                <p class='error' style="color: red">* {{message}}</p>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </section>

                            <section class='reg-info'>
                                <label for='l_name'>Last Name:</label>
                                <input type="text" name="last_name" class="form-control" id="">
                                {% if messages %}
                                {% for message in messages %}
                                {% if message.extra_tags == 'last_name' %}
                                <p class='error' style="color: red">* {{message}}</p>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </section>


                            <section class='reg-info'>
                                <label for='l_name'>Email:</label>
                                <input type="text" name="email" class="form-control" id="">
                                {% if messages %}
                                {% for message in messages %}
                                {% if message.extra_tags == 'email' %}
                                <p class='error' style="color: red">* {{message}}</p>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </section>


                            <section class='reg-info'>
                                <label for='l_name'>Password</label>
                                <input type="password" name="password" class="form-control">
                                {% if messages %}
                                {% for message in messages %}
                                {% if message.extra_tags == 'password' %}
                                <p class='error' style="color: red">* {{message}}</p>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </section>

                            <section class='reg-info'>
                                <label for='l_name'>Confirm Password: </label>
                                <input type="password" name="confirm" id="" class="form-control">

                                {% if messages %}
                                {% for message in messages %}
                                {% if message.extra_tags == 'confirm' %}
                                <p class='error' style="color: red">* {{message}}</p>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </section>
                            <input type="submit" name="" value="Register" id="" class="btn btn-primary">
                        </form>

                    </div>
                </div>
            </div>
            {%endif%}
            <div class="col-md">
                <div class="col-md-8">
                    <h1>Login</h1>

                    <div class="login">
                        <form action="login" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="form" value="login">

                            <section class='reg-info'>
                                <label for='l_name'>Email:</label>
                                <input type="text" name="email" id="" class="form-control">
                                {% if messages %}
                                {% for message in messages %}
                                {% if message.extra_tags == 'email_log' %}
                                <p class='error' style="color: red">* {{message}}</p>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </section>

                            <section class='reg-info'>
                                <label for='l_name'>Password</label>
                                <input type="password" name="password" class="form-control">
                                {% if messages %}
                                {% for message in messages %}
                                {% if message.extra_tags == 'password_log' %}
                                <p class='error' style="color: red">* {{message}}</p>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </section>

                            <input type="submit" name="" value="Login" id="" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <! ---- End Landing page section ---!>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>